// ========== STYLE GLOBAL ==========
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

img {
  height: 100%;
  width: auto;
}

.layout1 {
  background-image: var(--src);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.layout2 {
  background-color: #0a080b;

  padding: 20px;
  max-width: 1400px;
  margin: auto;

  box-shadow: 0 0 10px rgba(0, 136, 170, 0.1);
}

// ========== Header ==========
.header {
  background-color: #000;

  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header_video {
  display: flex;

  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  video {
    width: 100%;
  }
}

.header_navbar {
  z-index: 1000;

  box-shadow: 0 5px 10px rgb(15, 15, 15);

  background-color: rgba(0, 0, 0, 0.25);
  border-bottom: solid 1px #fff;

  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;

  font-size: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 0 2rem;
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.header_logo {
  z-index: 1;

  width: 60%;
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}

// ========== Footer ==========

footer {
  position: relative;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url(https://i.ibb.co/hyt3JzZ/cc4ac89b6f7fb43126753e6b78642816.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;

  color: #fff;
  padding: 24px 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: 0 -5px 25px rgb(0, 0, 0);

  h4 {
    margin-bottom: 8px;

    text-align: center;
  }

  p {
    display: flex;
    justify-content: space-between;
  }

  span {
    margin-right: 1.6rem;
  }

  img {
    width: 200px;
    border-radius: 5px;

    transition: all 0.4s;

    &:hover {
      transform: scale(1.1);

      cursor: pointer;
    }
  }
}

.societe {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 10px;
}

.logo_gprp {
  position: absolute;
  right: 0;
  bottom: 0;

  margin: 24px;

  img {
    width: 100px;
    border-radius: 50%;
  }
}

// ========== Neon ==========
.neon {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 50%;
    height: auto;
  }
}

// ========== Flyers ==========
.flyers {
  display: flex;

  justify-content: center;

  width: 100%;

  div {
    width: 50px;
  }

  img {
    width: 100%;

    box-shadow: 0px 5px 5px #000;

    transition: all 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }
}

// ========== Events ==========
.event {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    width: 35%;

    transition: all 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

// ========== Galerie ==========
.galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;

  img {
    width: 100%;
    height: auto;

    box-shadow: 0 5px 10px rgb(19, 14, 46);

    transition: all 0.25s;
    &:hover {
      transform: scale(1.02);

      cursor: pointer;
    }
  }
}
