// ========== Ne pas toucher sinon caca ==========
@import 'utils';

$font_type0: 40px/1.2 'Lobster', Helvetica, Arial, serif;
$font_type1: 24px/1.2 'Inter', Helvetica, Arial, serif;
$font_type2: 20px/1.2 'Inter', Helvetica, Arial, serif;
$font_type3: 16px/1.2 'Inter', Helvetica, Arial, serif;
$font_type4: 13px/1.2 'Ropa Sans', Helvetica, Arial, serif;
$font_type5: 1em/1.2 'Lobster', Helvetica, Arial, serif;

// ========== STYLE GLOBAL ==========
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

img {
  height: 100%;
  width: auto;
}

.layout1 {
  background-image: url(https://www.gotokyo.org/fr/story/guide/tokyo-at-night/images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.layout2 {
  margin: 0 200px;
  padding: 0 24px;
  background-color: #0a080b;

  box-shadow: 0 0 10px rgba(0, 136, 170, 0.1);
}

// ========== Header ==========
.header {
  background-color: #000;

  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header_video {
  display: flex;

  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  video {
    width: 100%;
  }
}

.header_navbar {
  z-index: 1000;

  box-shadow: 0 5px 10px rgb(15, 15, 15);

  background-color: rgba(0, 0, 0, 0.25);
  border-bottom: solid 1px #fff;

  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;

  font-size: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 0 2rem;
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.header_logo {
  z-index: 1;

  width: 60%;
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}

// ========== Footer ==========

footer {
  position: relative;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url(https://i.ibb.co/hyt3JzZ/cc4ac89b6f7fb43126753e6b78642816.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;

  color: #fff;
  padding: 24px 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: 0 -5px 25px rgb(0, 0, 0);

  h4 {
    margin-bottom: 8px;

    text-align: center;
  }

  p {
    display: flex;
    justify-content: space-between;
  }

  span {
    margin-right: 1.6rem;
  }

  img {
    width: 200px;
    border-radius: 5px;

    transition: all 0.4s;

    &:hover {
      transform: scale(1.1);

      cursor: pointer;
    }
  }
}

.societe {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 10px;
}

.logo_gprp {
  position: absolute;
  right: 0;
  bottom: 0;

  margin: 24px;

  img {
    width: 100px;
    border-radius: 50%;
  }
}

// ========== Neon ==========
.neon {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 50%;
    height: auto;
  }
}

// ========== Flyers ==========
.flyers {
  display: flex;

  justify-content: center;

  width: 100%;

  div {
    width: 50px;
  }

  img {
    width: 100%;

    box-shadow: 0px 5px 5px #000;

    transition: all 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }
}

// ========== Events ==========
.event {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    width: 35%;

    transition: all 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

// ========== Galerie ==========
.galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;

  img {
    width: 100%;
    height: auto;

    box-shadow: 0 5px 10px rgb(19, 14, 46);

    transition: all 0.25s;
    &:hover {
      transform: scale(1.02);

      cursor: pointer;
    }
  }
}

// ========== mordor ========== !!!!!!
// ========== mordor ========== !!!!!!
// ========== mordor ========== !!!!!!
.toto {
  width: 100vw !important;
  height: 100vh !important;
}

.navbar {
  position: relative;
  border: none !important;
  border-bottom: solid 1px white !important;
}

a {
  cursor: pointer !important;
}

.header {
  position: relative;
  overflow: hidden;
}

.block {
  @include flex-column;
  background: var(--src) center center / contain no-repeat;
  background-color: rgb(0, 0, 0);
}
.block_layout {
  position: relative;
}
.block1 {
  @include flex-column;
  background: var(--src) center center / contain no-repeat;
}
.block1_layout {
  position: relative;
  height: min-content;
}
.block2 {
  @include flex-column;
  border: 1px solid rgb(255, 255, 255);
}
.block2_layout {
  position: relative;
  height: min-content;
}
.block3 {
  display: flex;
}
.block3_layout {
  position: relative;
  height: min-content;
  width: 31.93%;
  margin: 13px auto 12px;
}
.medium_title {
  @include font-face($font_type1, rgb(255, 255, 255), 0px);
}
.medium_title_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 8px 0px 8px 30px;
}
.block3_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 94px;
}
.medium_title_layout1 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 8px 0px;
}
.medium_title_layout2 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 8px 24px 8px 0px;
}
.block4 {
  @include flex-column;
}
.block4_layout {
  position: relative;
  height: min-content;
  width: 28.65%;
  margin: 158px auto 227px;
}
.block5 {
  @include flex-column;
  background: var(--src) center center / contain no-repeat;
}
.block5_layout {
  position: relative;
  height: min-content;
}
.image3 {
  background: var(--src) center center / contain no-repeat;
}
.image3_layout {
  position: relative;
  height: 223px;
  width: 45.09%;
  margin: 267px 6.36% 60px 48.55%;
}
.hero_title {
  @include font-face($font_type0, rgb(0, 0, 0), 0px);
}
.hero_title_box_layout {
  position: relative;
  height: min-content;
  width: 69.45%;
  margin: 10px auto 0px;
}
.hero_title_span0 {
  @include font-face($font_type5, #ae04ffff, 0px);
}
.hero_title_span1 {
  @include font-face($font_type5, #ffffffff, 0px);
}
.hero_title_span2 {
  @include font-face($font_type5, #000000ff, 0px);
}
.hero_title_span3 {
  @include font-face($font_type5, #ae04ffff, 0px);
}
.hero_title_span4 {
  @include font-face($font_type5, #ffffffff, 0px);
}
.group {
  @include flex-column;
}
.group_layout {
  position: relative;
  height: 2600px;
  width: 94.69%;
  margin: 0px auto;
}
.block6 {
  @include flex-column;
  background-color: rgb(10, 8, 11);
}
.block6_layout {
  position: relative;
  // height: 2600px;
  width: 100%;
  // min-width: 1400px;
  // margin: 0px 0px 0px 211px;
  margin: 0 auto;
}

.block6_layout > * {
  padding: 0 200px;
}

.group_layout {
  height: 100%;
}

.block7 {
  display: flex;
}
.block7_layout {
  position: relative;
  height: min-content;
  margin: 50px 0px 0px;
}
.block7_item {
  @include flex-column;
  position: relative;
  flex: 0 1 675px;
}
.image4 {
  background: var(--src) center center / contain no-repeat;
}
.image4_layout {
  position: relative;
  height: 900px;
  margin: 0px 0px 0px 231px;
}
.block7_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 50px;
}
.image4_layout1 {
  position: relative;
  height: 900px;
  margin: 0px 231px 0px 0px;
}
.image5 {
  background: var(--src) center center / contain no-repeat;
  width: 100%;
}
.block8 {
  display: flex;
}
.block8_layout {
  position: relative;
  height: min-content;
  margin: 50px 0px 0px;
}
.block8_item {
  @include flex-column;
  position: relative;
  flex: 0 1 675px;
}
.image6 {
  background: var(--src) center center / contain no-repeat;
}
.image6_layout {
  position: relative;
  height: 500px;
  margin: 0px 0px 0px 175px;
}
.block8_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 50px;
}
.image6_layout1 {
  position: relative;
  height: 500px;
  margin: 0px 175px 0px 0px;
}
.block9 {
  @include flex-column;
}
.block9_layout {
  position: relative;
  height: min-content;
  margin: 50px 0px;
}
.block10 {
  display: flex;
}
.block10_layout {
  position: relative;
  height: min-content;
  width: 80%;
  margin: 0px auto;
}
.block10_item {
  @include flex-column;
  position: relative;
  flex: 0 1 360px;
}
.image7 {
  background: var(--src) center center / contain no-repeat;
}
.image7_layout {
  position: relative;
  height: 200px;
}
.block10_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 20px;
}
.block10_layout1 {
  position: relative;
  height: min-content;
  width: 80%;
  margin: 20px auto 0px;
}
.block10_layout2 {
  position: relative;
  height: min-content;
  width: 80%;
  margin: 20px auto 0px;
}
.block10_layout3 {
  position: relative;
  height: min-content;
  width: 80%;
  margin: 20px auto 0px;
}
.block11 {
  @include flex-column;
  background: var(--src) center center / contain no-repeat;
  background-color: rgba(0, 0, 0, 0.847);
  border-top: 1px solid rgb(255, 255, 255);
}
.block11_layout {
  position: relative;
  height: min-content;
}
.flex {
  display: flex;
}
.flex_layout {
  position: relative;
  height: min-content;
  margin: 10px;
}
.text_body {
  @include font-face($font_type4, rgb(40, 44, 42), 0px);
}
.text_body_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 299px 0px 0px;
}
.flex_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 124px;
}
.flex_item {
  @include flex-column;
  position: relative;
  flex: 0 1 1483px;
}
.block12 {
  display: flex;
}
.block12_layout {
  position: relative;
  height: min-content;
  margin: 33px 0px;
}
.block12_item {
  @include flex-column;
  position: relative;
  flex: 0 1 551px;
}
.block13 {
  @include flex-column;
}
.block13_layout {
  position: relative;
  height: min-content;
  margin: 75px 0px 74px 220px;
}
.subtitle {
  font: $font_type2;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  letter-spacing: 0px;
}
.subtitle_layout {
  position: relative;
  height: min-content;
}
.block14 {
  @include flex-column;
}
.block14_layout {
  position: relative;
  height: min-content;
  margin: 10px 0px 0px;
}
.block15 {
  display: flex;
}
.block15_layout {
  position: relative;
  height: min-content;
}
.highlights {
  @include font-face($font_type3, rgb(255, 255, 255), 0px);
}
.highlights_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
}
.block15_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 6px;
}
.block16 {
  display: flex;
}
.block16_layout {
  position: relative;
  height: min-content;
  margin: 3px 0px 0px;
}
.block16_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 6px;
}
.block17 {
  @include flex-column;
}
.block17_layout {
  position: relative;
  height: min-content;
  margin: 3px 0px 0px;
}
.highlights1 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type3, rgb(255, 255, 255), 0px);
  white-space: pre-wrap;
}
.highlights1_box_layout {
  position: relative;
  height: min-content;
}
.block12_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 378px;
}
.block12_item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 554px;
}
.block18 {
  @include flex-column;
}
.block18_layout {
  position: relative;
  height: min-content;
  margin: 0px 220px 0px 0px;
}
.subtitle1 {
  display: flex;
  justify-content: flex-end;
  font: $font_type2;
  color: rgb(255, 255, 255);
  text-align: right;
  text-decoration: underline;
  letter-spacing: 0px;
}
.subtitle1_layout {
  position: relative;
  height: min-content;
  width: 50.9%;
  margin: 0px auto;
}
.block18_item {
  @include flex-column;
  position: relative;
}
.group1 {
  @include flex-column;
  background: var(--src) center center / contain no-repeat;
}
.group1_layout {
  position: relative;
  height: 215px;
  margin: 10px 0px 0px;
}
.subtitle11 {
  @include font-face($font_type2, rgb(0, 0, 0), 0px);
}
.subtitle11_layout {
  position: relative;
  height: min-content;
  min-width: 0px;
  width: fit-content;
  margin: 94px 0px 0px 119px;
}
.flex_spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 104px;
}
.flex_item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 104px;
}
.icon {
  background: var(--src) center center / contain no-repeat;
}
.icon_layout {
  position: relative;
  height: 80px;
  width: 82px;
  min-width: 82px;
  margin: 211px 22px 24px 0px;
}
