footer {
  position: relative;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url(https://i.ibb.co/hyt3JzZ/cc4ac89b6f7fb43126753e6b78642816.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;

  color: #fff;
  padding: 24px 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: 0 -5px 25px rgb(0, 0, 0);

  h4 {
    margin-bottom: 8px;

    text-align: center;
  }

  p {
    display: flex;
    justify-content: space-between;
  }
}

.contact {
  span {
    margin-right: 1.6rem;
  }
}

.societe {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 10px;
}

.logo_gprp {
  position: absolute;
  right: 0;
  bottom: 0;

  margin: 24px;

  img {
    width: 100px;
    border-radius: 50%;
  }
}

.map {
  max-width: 200px;

  img {
    border-radius: 5px !important;
  }
}
